.comments-form 
  = form_with(model: [post, comment]) do |form|
    
    .commenter
      = form.label :commenter
      = form.text_field :commenter
      - if comment.present?
        - comment.errors.full_messages_for(:commenter).each do |message|
          .error= message

    .body
      = form.label :body
      = form.text_area :body
      - if comment.present?
        - comment.errors.full_messages_for(:body).each do |message|
          .error= message

    .submit= form.submit