= form_with(model: post) do |form|
  .title
    = form.label :title
    = form.text_field :title
    - @post.errors.full_messages_for(:title).each do |message|
      .error= message

  .body
    = form.label :body
    = form.text_area :body
    - @post.errors.full_messages_for(:body).each do |message|
      .error= message

  .submit= form.submit