= link_to '<< Back to all posts', posts_path
%h1 Post
.post-card
  %h3= @post.title
  %p= @post.body
  .action1= link_to 'Edit', edit_post_path(@post)
  .action1= button_to 'Delete', post_path(@post), method: :delete
.comments
  = render 'comments/form', post: @post, comment: @comment || @post.comments.build  
  .comments-show
    = render(@comments)

    